## Criação da base de dados

In [1]:
############## Importar os módulos necessários para o Notebook:
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

In [2]:
############## Conectar com um servidor SQL na base default ###################### --> Postgres.postgres
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost:5432/postgres')
%sql postgresql://postgres:pgadmin@localhost:5432/postgres

In [3]:
## Desabilitar o Autocommit:
%config SqlMagic.autocommit=False

In [4]:
%%sql
COMMIT;
DROP DATABASE IF EXISTS airbnb2;
COMMIT;
CREATE DATABASE airbnb2
    WITH OWNER = postgres
    ENCODING = 'UTF8';
COMMIT;

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.

[]

In [5]:
## Desabilitar o Autocommit:
%config SqlMagic.autocommit=False

In [6]:
# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb2')
%sql postgresql://postgres:pgadmin@localhost/airbnb2

## Criação das tabelas

In [7]:
%%sql

DROP TABLE IF EXISTS Localizacao CASCADE;
CREATE TABLE Localizacao(
    IdLocalizacao    SERIAL PRIMARY KEY,
    Bairro           VARCHAR(40) NOT NULL,
    Cidade           VARCHAR(40) NOT NULL,
    Estado           VARCHAR(40) NOT NULL,
    Pais             VARCHAR(40) NOT NULL
);

DROP TABLE IF EXISTS Usuario CASCADE;
CREATE TABLE Usuario(
    Nome           VARCHAR(40) NOT NULL,
    Sobrenome      VARCHAR(40) NOT NULL,
    NumTel         VARCHAR(20) NOT NULL,
    Email          VARCHAR(100) NOT NULL,
    Endereco       VARCHAR(255) NOT NULL,
    DataNascimento DATE NOT NULL,
    Sexo           CHAR(1) NOT NULL,
    Senha          VARCHAR(255) NOT NULL,
    LocatarioSN    BIT NOT NULL,
    IdLocalizacao  INTEGER NOT NULL,
    PRIMARY KEY (Nome, Sobrenome, NumTel),
    FOREIGN KEY (IdLocalizacao) REFERENCES Localizacao(IdLocalizacao)
);

DROP TABLE IF EXISTS Propriedade CASCADE;
CREATE TABLE Propriedade(
    Nome               VARCHAR(40) NOT NULL,
    Endereco           VARCHAR(255) NOT NULL,
    Classe             VARCHAR(20) NOT NULL,
    NumBanheiros       SMALLINT,
    MaxHospedes        SMALLINT,
    MinNoites          SMALLINT,
    MaxNoites          SMALLINT,
    PrecoDiaria        NUMERIC(10, 2),
    TaxaLimpeza        NUMERIC(10, 2),
    HorarioCheckIn     TIME NOT NULL,
    HorarioCheckOut    TIME NOT NULL,
    Regras             TEXT NOT NULL,
    Comodidades        TEXT NOT NULL,
    IdLocalizacao      INTEGER,
    NomeAnfitriao      VARCHAR(40) NOT NULL,
    SobrenomeAnfitriao VARCHAR(40) NOT NULL,
    NumTelAnfitriao    VARCHAR(20) NOT NULL,
    PRIMARY KEY (Nome, Endereco),
    FOREIGN KEY (NomeAnfitriao, SobrenomeAnfitriao, NumTelAnfitriao) REFERENCES Usuario(Nome, Sobrenome, NumTel),
    FOREIGN KEY (IdLocalizacao) REFERENCES Localizacao(IdLocalizacao)
);

DROP TABLE IF EXISTS Mensagem CASCADE;
CREATE TABLE Mensagem(
    IdMensagem                    SERIAL,
    Timestamp                     TIMESTAMP NOT NULL,
    Texto                         TEXT NOT NULL,
    NomeEmissor                   VARCHAR(40) NOT NULL,
    SobrenomeEmissor              VARCHAR(40) NOT NULL,
    NumTelEmissor                 VARCHAR(20) NOT NULL,
    NomeReceptor                  VARCHAR(40) NOT NULL,
    SobrenomeReceptor             VARCHAR(40) NOT NULL,
    NumTelReceptor                VARCHAR(20) NOT NULL,
    PRIMARY KEY (IdMensagem),
    FOREIGN KEY (NomeEmissor, SobrenomeEmissor, NumTelEmissor) REFERENCES Usuario(Nome, Sobrenome, NumTel),
    FOREIGN KEY (NomeReceptor, SobrenomeReceptor, NumTelReceptor) REFERENCES Usuario(Nome, Sobrenome, NumTel)
);

DROP TABLE IF EXISTS Avaliacao CASCADE;
CREATE TABLE Avaliacao(
    IdAvaliacao                         SERIAL PRIMARY KEY,
    ClassificacaoLimpeza                NUMERIC(2, 1),
    NotaComunicacao                     NUMERIC(3, 1),
    NotaLocalizacao                     NUMERIC(3, 1),
    NotaValorLocacao                    NUMERIC(3, 1),
    IdMensagem                          INTEGER,
    FOREIGN KEY (IdMensagem) REFERENCES Mensagem(IdMensagem)
);

DROP TABLE IF EXISTS Foto CASCADE;
CREATE TABLE Foto(
    Path                    VARCHAR(255) NOT NULL,
    IdAvaliacao             INTEGER,
    PRIMARY KEY (Path),
    FOREIGN KEY (IdAvaliacao) REFERENCES Avaliacao(IdAvaliacao)
);

DROP TABLE IF EXISTS Quarto CASCADE;
CREATE TABLE Quarto(
    IdQuarto               SERIAL PRIMARY KEY,
    TipoCama               VARCHAR(40) NOT NULL,
    NumCamas               SMALLINT,
    NomePropriedade        VARCHAR(40) NOT NULL,
    EnderecoPropriedade    VARCHAR(255) NOT NULL,
    FOREIGN KEY (NomePropriedade, EnderecoPropriedade) REFERENCES Propriedade(Nome, Endereco)
);

DROP TABLE IF EXISTS ContaBancaria CASCADE;
CREATE TABLE ContaBancaria(
    Numero               VARCHAR(20) NOT NULL,
    Tipo                 VARCHAR(20) NOT NULL,
    NumRoteamento        VARCHAR(20) NOT NULL,
    NomeUsuario          VARCHAR(40) NOT NULL,
    SobrenomeUsuario     VARCHAR(40) NOT NULL,
    NumTelUsuario        VARCHAR(20) NOT NULL,
    PRIMARY KEY (Numero),
    FOREIGN KEY (NomeUsuario, SobrenomeUsuario, NumTelUsuario) REFERENCES Usuario(Nome, Sobrenome, NumTel)
);

DROP TABLE IF EXISTS Locacao CASCADE;
CREATE TABLE Locacao(
    IdLocacao                   SERIAL,
    NumHospedes                 SMALLINT,
    Imposto                     NUMERIC(10, 2),
    PrecoTotal                  NUMERIC(10, 2),
    TaxaLimpeza                 NUMERIC(10, 2),
    CodPromocional              VARCHAR(10),
    ValDesconto                 NUMERIC(10, 2),
    PrecoTotalComImpostos       NUMERIC(10, 2),
    CheckIn                     TIME NOT NULL,
    CheckOut                    TIME NOT NULL,
    DataReserva                 DATE NOT NULL,
    Confirmada                  BIT NOT NULL,
    PRIMARY KEY (IdLocacao)
);

DROP TABLE IF EXISTS PontoInteresse CASCADE;
CREATE TABLE PontoInteresse(
    IdPontoInteresse        SERIAL,
    Nome                    VARCHAR(40) NOT NULL,
    IdLocalizacao           INTEGER,
    PRIMARY KEY (IdPontoInteresse, IdLocalizacao),
    FOREIGN KEY (IdLocalizacao) REFERENCES Localizacao(IdLocalizacao)
);

DROP TABLE IF EXISTS Locar CASCADE;
CREATE TABLE Locar(
    NomePropriedade                     VARCHAR(40) NOT NULL,
    EnderecoPropriedade                 VARCHAR(255) NOT NULL,
    NomeLocatario                       VARCHAR(40) NOT NULL,
    SobrenomeLocatario                  VARCHAR(40) NOT NULL,
    NumTelLocatario                     VARCHAR(20) NOT NULL,
    IdLocacao                           INTEGER,
    PRIMARY KEY (NomePropriedade, EnderecoPropriedade, NomeLocatario, SobrenomeLocatario, NumTelLocatario, IdLocacao),
    FOREIGN KEY (NomePropriedade, EnderecoPropriedade) REFERENCES Propriedade(Nome, Endereco),
    FOREIGN KEY (NomeLocatario, SobrenomeLocatario, NumTelLocatario) REFERENCES Usuario(Nome, Sobrenome, NumTel),
    FOREIGN KEY (IdLocacao) REFERENCES Locacao(IdLocacao)
);

DROP TABLE IF EXISTS Avalia CASCADE;
CREATE TABLE Avalia(
    IdAvaliacao                         SERIAL,
    NomePropriedade                     VARCHAR(40) NOT NULL,
    EnderecoPropriedade                 VARCHAR(255) NOT NULL,
    NomeLocatario                       VARCHAR(40) NOT NULL,
    SobrenomeLocatario                  VARCHAR(40) NOT NULL,
    NumTelLocatario                     VARCHAR(20) NOT NULL,
    PRIMARY KEY (IdAvaliacao, NomePropriedade, EnderecoPropriedade, NomeLocatario, SobrenomeLocatario, NumTelLocatario),
    FOREIGN KEY (NomePropriedade, EnderecoPropriedade) REFERENCES Propriedade(Nome, Endereco),
    FOREIGN KEY (NomeLocatario, SobrenomeLocatario, NumTelLocatario) REFERENCES Usuario(Nome, Sobrenome, NumTel),
    FOREIGN KEY (IdAvaliacao) REFERENCES Avaliacao(IdAvaliacao)
);


DROP TABLE IF EXISTS AnuncioLocacao CASCADE;
CREATE TABLE AnuncioLocacao(
    IdAnuncio                           SERIAL PRIMARY KEY,
    DataInicioDispo                     DATE NOT NULL,
    DataFimDispo                        DATE NOT NULL,
    NomeAnunciante                      VARCHAR(40) NOT NULL,
    SobrenomeAnunciante                 VARCHAR(40) NOT NULL,
    NumTelAnunciante                    VARCHAR(20) NOT NULL,
    NomePropriedade                     VARCHAR(40) NOT NULL,
    EnderecoPropriedade                 VARCHAR(255) NOT NULL,
    UNIQUE(NomeAnunciante, SobrenomeAnunciante, numTelAnunciante, NomePropriedade, EnderecoPropriedade),
    FOREIGN KEY (NomePropriedade, EnderecoPropriedade) REFERENCES Propriedade(Nome, Endereco),
    FOREIGN KEY (NomeAnunciante, SobrenomeAnunciante, NumTelAnunciante) REFERENCES Usuario(Nome, Sobrenome, NumTel)
);

COMMIT;

 * postgresql://postgres:***@localhost/airbnb2
   postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]