## Conexão da base de dados

In [2]:
############## Importar os módulos necessários para o Notebook:
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

############## Conectar com um servidor SQL na base Alunos 15 ###################### --> Postgres.Alunos15
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb2')
%sql postgresql://postgres:pgadmin@localhost/airbnb2

## Criação das tabelas do airbnb a partir dos .csv

In [3]:
# import packages 
import psycopg2 
import psycopg2.extras as extras 
import pandas as pd 
from datetime import datetime
  
  
def execute_values(conn, df, table,tratments=[]): 
  
    df_copy = df.copy()
    for trat in tratments:
        trat(df_copy)
        
    df = df_copy
  
    tuples = [tuple(x) for x in df.to_numpy()] 
  
    cols = ','.join(list(df.columns)) 
  
    query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols) 
    cursor = conn.cursor() 
    try: 
        extras.execute_values(cursor, query, tuples) 
        conn.commit() 
    except (Exception, psycopg2.DatabaseError) as error: 
        print("Error: %s" % error) 
        print("deu ruim")
        conn.rollback() 
        cursor.close() 
        return 1
    print("execute_values() done") 
    conn.commit()
    
conn = psycopg2.connect( 
    database="airbnb2", 
    user='postgres', 
    password='pgadmin', 
    host='localhost', 
    port='5432'
)
  
  
cursor = conn.cursor()

### Listings

In [4]:
%%sql
DROP TABLE IF EXISTS Listings CASCADE;
CREATE TABLE Listings (
    id NUMERIC PRIMARY KEY,
    name VARCHAR(255),
    host_id NUMERIC,
    host_name VARCHAR(255),
    neighbourhood_group VARCHAR(255),
    neighbourhood VARCHAR(255),
    latitude FLOAT,
    longitude FLOAT,
    room_type VARCHAR(255),
    price NUMERIC,
    minimum_nights NUMERIC,
    number_of_reviews NUMERIC,
    last_review DATE,
    reviews_per_month FLOAT,
    calculated_host_listings_count NUMERIC,
    availability_365 NUMERIC,
    number_of_reviews_ltm NUMERIC,
    license VARCHAR(255)
);

 * postgresql://postgres:***@localhost/airbnb2
Done.
Done.

[]

In [5]:
df = pd.read_csv("airbnb/listings.csv") 
df['last_review'] = df['last_review'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d').date() if pd.notnull(x) and x != 'NaN' else None)
execute_values(conn, df, 'Listings')
cursor.close()

execute_values() done

### Calendar

In [18]:
%%sql
DROP TABLE IF EXISTS Calendar CASCADE;
CREATE TABLE Calendar (
    Calendar_id SERIAL PRIMARY KEY,
    listing_id NUMERIC,
    date DATE,
    available char(1),
    price VARCHAR(15),
    adjusted_price VARCHAR(15),
    minimum_nights NUMERIC,
    maximum_nights NUMERIC
);

 * postgresql://postgres:***@localhost/airbnb2
Done.
Done.

[]

In [19]:
df = pd.read_csv("airbnb/calendar.csv") 
execute_values(conn, df, 'Calendar')

execute_values() done

In [20]:
%sql SELECT * FROM Calendar LIMIT 3

 * postgresql://postgres:***@localhost/airbnb2
3 rows affected.

[(1, Decimal('17878'), datetime.date(2023, 12, 27), 'f', '$350.00', 'NaN', Decimal('5.0'), Decimal('28.0')),
 (2, Decimal('17878'), datetime.date(2023, 12, 28), 'f', '$350.00', 'NaN', Decimal('5.0'), Decimal('28.0')),
 (3, Decimal('17878'), datetime.date(2023, 12, 29), 'f', '$350.00', 'NaN', Decimal('5.0'), Decimal('28.0'))]

### Reviews

In [7]:
%%sql
DROP TABLE IF EXISTS Reviews CASCADE;
CREATE TABLE Reviews (
    listing_id NUMERIC,
    id NUMERIC PRIMARY KEY,
    date DATE,
    reviewer_id NUMERIC,
    reviewer_name VARCHAR(40),
    comments TEXT
);

 * postgresql://postgres:***@localhost/airbnb2
Done.
Done.

[]

In [8]:
df = pd.read_csv("airbnb/reviews.csv") 
execute_values(conn, df, 'Reviews')

execute_values() done

In [9]:
%sql SELECT * FROM Reviews LIMIT 3

 * postgresql://postgres:***@localhost/airbnb2
3 rows affected.

[(Decimal('17878'), Decimal('64852'), datetime.date(2010, 7, 15), Decimal('135370'), 'Tia', 'This apartment is in a perfect location -- two blocks from the beach and two blocks from the Copacabana Palace (where anyone famous stays when they a ... (99 characters truncated) ... e apartment is like, so you´ll have no surprises.  Max is very communicative and helpful.  The four of us that stayed here would highly recommend it.'),
 (Decimal('216700'), Decimal('1511171'), datetime.date(2012, 6, 18), Decimal('2598011'), 'Evelyn', 'A estada foi maravilhosa, ficamos so 3 noites se pudessemos ficariamos mais... mas com certeza voltaremos...o lugar eh maravilhoso, quando chegamos f ... (572 characters truncated) ...  sem duvida recomendamos a hospedagem... Saimos bem contentes e satisfeitos do rio e ja estamos planejando a volta....  Nao percam a oportunidade!!! '),
 (Decimal('216700'), Decimal('1550596'), datetime.date(2012, 6, 24), Decimal('2465739'), 'Camila', "The apartment is located in the beautiful Laranjeiras neighborhood,  everything there is easy access. There' re bakeries, markets, banks, restaurants ... (862 characters truncated) ... me e bem comfortavel com uma linda sacada. \r<br/>\r<br/>Foi uma pena passarmos somente um dia na casa de Moara. Com certeza, voltaremos na sua casa.")]