Considerações:
 - Estou fazendo tudo com views para só no fim transformar em tabelas

### Conexão com a base de dados

In [2]:
############## Importar os módulos necessários para o Notebook:
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

############## Conectar com um servidor SQL na base Alunos 15 ###################### --> Postgres.Alunos15
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb2')
%sql postgresql://postgres:pgadmin@localhost/airbnb2

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## 1NF das tabelas

### Passo 1 - fazendo 1NF pra Listing

#### Extraindo o nome

In [7]:
%%sql
SELECT
    CASE WHEN POSITION(' · ' IN name)>0 THEN
        SPLIT_PART(name,' · ',1)
    ELSE
        NULL
    END AS nome 
    FROM Listings
    LIMIT 10

 * postgresql://postgres:***@localhost/airbnb2
10 rows affected.

[('Condo in Rio de Janeiro',),
 ('Rental unit in Rio de Janeiro',),
 ('Loft in Rio de Janeiro',),
 ('Rental unit in Rio de Janeiro',),
 ('Condo in Rio de Janeiro',),
 ('Home in Rio de Janeiro',),
 ('Rental unit in Rio de Janeiro',),
 ('Rental unit in Rio de Janeiro',),
 ('Rental unit in Ipanema',),
 ('Rental unit in Rio de Janeiro',)]

#### Extraindo as avaliações

In [8]:
%%sql
SELECT 
    CASE
        WHEN POSITION('★' IN name) > 0 THEN
            CAST(NULLIF(TRIM(
                CASE WHEN POSITION(' · ' IN SUBSTRING(name FROM POSITION('★' IN name)+1))>0 THEN
                    SUBSTRING(
                        SUBSTRING(name FROM POSITION('★' IN name)+1),
                        0,
                        POSITION(' · ' IN SUBSTRING(name FROM POSITION('★' IN name)))
                    )
                ELSE 
                    SUBSTRING(name FROM POSITION('★' IN name)+1)
                END
            ),'New') AS FLOAT)
        ELSE
            NULL
    END AS avaliacao
    FROM Listings
    LIMIT 10

 * postgresql://postgres:***@localhost/airbnb2
10 rows affected.

[(4.7,),
 (4.72,),
 (4.9,),
 (4.21,),
 (4.57,),
 (4.76,),
 (4.81,),
 (None,),
 (4.76,),
 (4.96,)]

#### Extraindo o Nquartos

In [9]:
%%sql
SELECT 
    CASE
        WHEN POSITION('bedroom' IN name) > 0 THEN
            CAST(TRIM(
                CASE WHEN POSITION(' · ' IN SUBSTRING(name,0,POSITION('bedroom' IN name)))>0 THEN
                    SUBSTRING(
                        SUBSTRING(name,0,POSITION('bedroom' IN name)),
                        LENGTH(SUBSTRING(name,0,POSITION('bedroom' IN name))) - POSITION(' · ' IN REVERSE(SUBSTRING(name,0,POSITION('bedroom' IN name)))) + 1,
                        LENGTH(SUBSTRING(name,0,POSITION('bedroom' IN name))) - 7
                    )
                ELSE 
                    SUBSTRING(name,0,POSITION('bedroom' IN name))
                END
            ) AS SMALLINT)
        ELSE
            0
    END AS Nquartos
    FROM Listings
    LIMIT 10

 * postgresql://postgres:***@localhost/airbnb2
10 rows affected.

[(2,), (1,), (1,), (2,), (1,), (7,), (2,), (1,), (6,), (1,)]

#### Extraindo o número de camas

In [10]:
%%sql
SELECT 
    CASE
        WHEN POSITION('beds' IN name) > 0 THEN
            CAST(TRIM(
                CASE WHEN POSITION(' · ' IN SUBSTRING(name,0,POSITION('beds' IN name)))>0 THEN
                    SUBSTRING(
                        SUBSTRING(name,0,POSITION('beds' IN name)),
                        LENGTH(SUBSTRING(name,0,POSITION('beds' IN name))) - POSITION(' · ' IN REVERSE(SUBSTRING(name,0,POSITION('beds' IN name)))) + 1,
                        LENGTH(SUBSTRING(name,0,POSITION('beds' IN name))) - 4
                    )
                ELSE 
                    SUBSTRING(name,0,POSITION('beds' IN name))
                END
            ) AS SMALLINT)
        WHEN POSITION('1 bed ' IN name) > 0 THEN
            1
        ELSE
            0
    END AS Ncamas
    FROM Listings
    LIMIT 10

 * postgresql://postgres:***@localhost/airbnb2
10 rows affected.

[(2,), (1,), (1,), (0,), (1,), (7,), (3,), (1,), (7,), (1,)]

#### Extraindo o número de banheiros (não importa o tipo)

In [ ]:
303587
449391

In [11]:
%%sql
SELECT 
    CASE
        WHEN POSITION('bath' IN name) > 0 THEN
            CAST(NULLIF(
                REGEXP_REPLACE(
                    SUBSTRING(
                        name, 
                        LENGTH(SUBSTRING(name,0,POSITION('bath' IN name))) - POSITION(' · ' IN REVERSE(SUBSTRING(name,0,POSITION('bath' IN name)))) + 1,
                        POSITION('bath' IN name)),
                '[^0-9.]','','g'
                ),'')
             AS FLOAT)
        ELSE
            0
    END AS Nbanheiros
    FROM Listings
        WHERE id = 449391
    LIMIT 10

 * postgresql://postgres:***@localhost/airbnb2
1 rows affected.

[(None,)]

#### Formatação completa pra Listings e guardando em uma View

In [21]:
%%sql
DROP VIEW IF EXISTS Listings_1NF CASCADE;
CREATE VIEW Listings_1NF AS
SELECT
    id AS listing_id,
    listing_url,
    scrape_id,
    last_scraped,
    source,
    CASE WHEN POSITION(' · ' IN name)>0 THEN
        SPLIT_PART(name,' · ',1)
    ELSE
        NULL
    END AS nome,
    
    CASE
        WHEN POSITION('★' IN name) > 0 THEN
            CAST(NULLIF(TRIM(
                CASE WHEN POSITION(' · ' IN SUBSTRING(name FROM POSITION('★' IN name)+1))>0 THEN
                    SUBSTRING(
                        SUBSTRING(name FROM POSITION('★' IN name)+1),
                        0,
                        POSITION(' · ' IN SUBSTRING(name FROM POSITION('★' IN name)))
                    )
                ELSE 
                    SUBSTRING(name FROM POSITION('★' IN name)+1)
                END
            ),'New') AS FLOAT)
        ELSE
            NULL
    END AS avaliacao,
    
    CASE
        WHEN POSITION('bedroom' IN name) > 0 THEN
            CAST(TRIM(
                CASE WHEN POSITION(' · ' IN SUBSTRING(name,0,POSITION('bedroom' IN name)))>0 THEN
                    SUBSTRING(
                        SUBSTRING(name,0,POSITION('bedroom' IN name)),
                        LENGTH(SUBSTRING(name,0,POSITION('bedroom' IN name))) - POSITION(' · ' IN REVERSE(SUBSTRING(name,0,POSITION('bedroom' IN name)))) + 1,
                        LENGTH(SUBSTRING(name,0,POSITION('bedroom' IN name))) - 7
                    )
                ELSE 
                    SUBSTRING(name,0,POSITION('bedroom' IN name))
                END
            ) AS SMALLINT)
        ELSE
            0
    END AS Nquartos,
    
    CASE
        WHEN POSITION('beds' IN name) > 0 THEN
            CAST(TRIM(
                CASE WHEN POSITION(' · ' IN SUBSTRING(name,0,POSITION('beds' IN name)))>0 THEN
                    SUBSTRING(
                        SUBSTRING(name,0,POSITION('beds' IN name)),
                        LENGTH(SUBSTRING(name,0,POSITION('beds' IN name))) - POSITION(' · ' IN REVERSE(SUBSTRING(name,0,POSITION('beds' IN name)))) + 1,
                        LENGTH(SUBSTRING(name,0,POSITION('beds' IN name))) - 4
                    )
                ELSE 
                    SUBSTRING(name,0,POSITION('beds' IN name))
                END
            ) AS SMALLINT)
        WHEN POSITION('1 bed ' IN name) > 0 THEN
            1
        ELSE
            0
    END AS Ncamas,
    
    CASE
        WHEN POSITION('bath' IN name) > 0 THEN
            CAST(NULLIF(
                REGEXP_REPLACE(
                    SUBSTRING(
                        name, 
                        LENGTH(SUBSTRING(name,0,POSITION('bath' IN name))) - POSITION(' · ' IN REVERSE(SUBSTRING(name,0,POSITION('bath' IN name)))) + 1,
                        POSITION('bath' IN name)),
                '[^0-9.]','','g'
                ), '')
             AS FLOAT)
        ELSE
            0
    END AS Nbanheiros,
    
    description,  -- Aqui está apenas uma vez
    neighborhood_overview,
    picture_url,
    host_id,
    host_url,
    host_name,
    host_since,
    host_location,
    host_about,
    host_response_time,
    host_response_rate,
    host_acceptance_rate,
    host_is_superhost,
    host_thumbnail_url,
    host_picture_url,
    host_neighbourhood,
    host_listings_count, 
    host_total_listings_count, 
    host_verifications,
    host_has_profile_pic,
    host_identity_verified,
    neighbourhood,
    neighbourhood_cleansed,
    neighbourhood_group_cleansed,
    latitude,
    longitude,
    property_type,
    room_type,
    accommodates,
    bathrooms,
    bathrooms_text,
    bedrooms,
    beds,
    price,
    minimum_nights,
    maximum_nights,
    minimum_minimum_nights,
    maximum_minimum_nights,
    minimum_maximum_nights,
    maximum_maximum_nights,
    minimum_nights_avg_ntm,
    maximum_nights_avg_ntm,
    calendar_updated,
    has_availability,
    availability_30,
    availability_60,
    availability_90,
    availability_365,
    calendar_last_scraped,
    number_of_reviews,
    number_of_reviews_ltm,
    number_of_reviews_l30d,
    first_review,
    last_review,
    review_scores_rating,
    review_scores_accuracy,
    review_scores_cleanliness,
    review_scores_checkin,
    review_scores_communication,
    review_scores_location,
    review_scores_value,
    license,
    instant_bookable,
    calculated_host_listings_count,
    calculated_host_listings_count_entire_homes,
    calculated_host_listings_count_private_rooms,
    calculated_host_listings_count_shared_rooms,
    reviews_per_month
FROM Listings;

 * postgresql://postgres:***@localhost/airbnb2
Done.
Done.

[]

In [105]:
%%sql 
SELECT * FROM Listings_1NF LIMIT 3

 * postgresql://postgres:***@localhost/airbnb2
(psycopg2.errors.UndefinedTable) relation "listings_1nf" does not exist
LINE 1: SELECT * FROM Listings_1NF LIMIT 3
                      ^

[SQL: SELECT * FROM Listings_1NF LIMIT 3]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Passo 2 - Fazendo 1NF pra Calendar

In [67]:
%%sql
SELECT * FROM Calendar LIMIT 10

 * postgresql://postgres:***@localhost/airbnb2
(psycopg2.errors.UndefinedTable) relation "calendar" does not exist
LINE 1: SELECT * FROM Calendar LIMIT 10
                      ^

[SQL: SELECT * FROM Calendar LIMIT 10]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [68]:
%%sql
ALTER TABLE Calendar RENAME TO Calendar_1NF;

 * postgresql://postgres:***@localhost/airbnb2
(psycopg2.errors.UndefinedTable) relation "calendar" does not exist

[SQL: ALTER TABLE Calendar RENAME TO Calendar_1NF;]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Passo 3 - Fazendo 1NF pra Reviews

In [69]:
%%sql
SELECT * FROM Reviews LIMIT 3

 * postgresql://postgres:***@localhost/airbnb2
(psycopg2.errors.UndefinedTable) relation "reviews" does not exist
LINE 1: SELECT * FROM Reviews LIMIT 3
                      ^

[SQL: SELECT * FROM Reviews LIMIT 3]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [70]:
%%sql
ALTER TABLE Reviews RENAME TO Reviews_1NF;
ALTER TABLE Reviews_1NF RENAME COLUMN id TO id_review;

 * postgresql://postgres:***@localhost/airbnb2
(psycopg2.errors.UndefinedTable) relation "reviews" does not exist

[SQL: ALTER TABLE Reviews RENAME TO Reviews_1NF;]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 2NF das tabelas

### 2NF da tabela Listing 1NF (já está em 2NF)

In [22]:
%sql SELECT * FROM Listings_1NF LIMIT 3

 * postgresql://postgres:***@localhost/airbnb2
3 rows affected.

[(17878, 'https://www.airbnb.com/rooms/17878', 20231226034138, '2023-12-27', 'city scrape', 'Condo in Rio de Janeiro', 4.7, 2, 2, 1.0, None, 'This is the one of the bests spots in Rio. Because of the large balcony and proximity to the beach, it has huge advantages in the current situation.', 'https://a0.muscache.com/pictures/65320518/30698f38_original.jpg', 68997, 'https://www.airbnb.com/users/show/68997', 'Matthias', '2010-01-08', 'Rio de Janeiro, Brazil', 'I  am a  journalist/writer. Lived  in NYC for 15 years. I  am now based in Rio and published 3 volumes of travel stories on AMAZ0N: "The World Is My  ... (23 characters truncated) ... ver been to Rio, check out the first story, and you\'ll get an idea. Apart from Rio, you\'ll find  29 other travel stories from all around the globe.', 'within an hour', '100%', '96%', 't', 'https://a0.muscache.com/im/pictures/user/67b13cea-8c11-49c0-a08d-7f42c330676e.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/pictures/user/67b13cea-8c11-49c0-a08d-7f42c330676e.jpg?aki_policy=profile_x_medium', 'Copacabana', 2.0, 5.0, "['email', 'phone']", 't', 't', 'Rio de Janeiro, Brazil', 'Copacabana', None, -22.96599, -43.1794, 'Entire condo', 'Entire home/apt', 5, None, '1 bath', None, 2.0, '$1,357.00', 5, 28, 5, 5, 28, 28, 5.0, 28.0, None, 't', 5, 7, 14, 269, '2023-12-27', 311, 29, 4, '2010-07-15', '2023-12-22', 4.7, 4.77, 4.65, 4.83, 4.91, 4.77, 4.67, None, 'f', 1, 1, 0, 0, 1.9),
 (25026, 'https://www.airbnb.com/rooms/25026', 20231226034138, '2023-12-27', 'city scrape', 'Rental unit in Rio de Janeiro', 4.72, 1, 1, 1.0, None, "Copacabana is a lively neighborhood and the apartment is located very close to an area in Copa full of bars, cafes and restaurants at Rua Bolivar and Domingos Ferreira. Copacabana never sleeps, there is always movement and it's a great mix of all kinds of people.", 'https://a0.muscache.com/pictures/a745aa21-b8dd-4959-a040-eb8e6e6f07ee.jpg', 102840, 'https://www.airbnb.com/users/show/102840', 'Viviane', '2010-04-03', 'Rio de Janeiro, Brazil', 'Hi guys,\n\nViviane is a commercial photographer, an avid world traveler,  (a former photographer for Airbnb) and an Airbnb superhost. And a free lan ... (83 characters truncated) ... We  work together in providing the best accommodation to people and we are\nfirm believers of enjoying the moment as a prime attitude towards life!\n', 'within an hour', '100%', '80%', 't', 'https://a0.muscache.com/im/pictures/user/315ddc81-bea3-4bf0-8fc7-be197a6541ff.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/pictures/user/315ddc81-bea3-4bf0-8fc7-be197a6541ff.jpg?aki_policy=profile_x_medium', 'Copacabana', 1.0, 5.0, "['email', 'phone']", 't', 't', 'Rio de Janeiro, Brazil', 'Copacabana', None, -22.97735, -43.19105, 'Entire rental unit', 'Entire home/apt', 3, None, '1 bath', None, 1.0, '$865.00', 2, 60, 2, 4, 60, 60, 2.2, 60.0, None, 't', 3, 18, 48, 228, '2023-12-27', 275, 29, 2, '2010-06-07', '2023-12-03', 4.72, 4.7, 4.79, 4.81, 4.92, 4.84, 4.6, None, 'f', 1, 1, 0, 0, 1.67),
 (35764, 'https://www.airbnb.com/rooms/35764', 20231226034138, '2023-12-27', 'city scrape', 'Loft in Rio de Janeiro', 4.9, 1, 1, 1.5, None, 'Our guests will experience living with a local peole "Carioca"  in a very friendly building with 24 hours a day security with all kind of stores, banks, transports, restaurants.', 'https://a0.muscache.com/pictures/23782972/1d3e55b0_original.jpg', 153691, 'https://www.airbnb.com/users/show/153691', 'Patricia Miranda & Paulo', '2010-06-27', 'Rio de Janeiro, Brazil', 'Hello,   We are Patricia Miranda and Paulo.\nWe are a couple who love to meet new people, new cultures, we both are  very easy going persons,  We are ... (89 characters truncated) ...   We also used do host in our  own residence International students from all over the world.  We are gay friendly and everybody is welcome! \n\n\n\n!', 'within an hour', '100%', '98%', 't', 'https://a0.muscache.com/im/users/153691/profile_pic/1277774787/original.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/users/153691/profile_pic/1277774787/original.jpg?aki_policy=profile_x_medium', 'Copacabana', 1.0, 2.0, "['email', 'phone']", 't', 't', 'Rio de Janeiro, Brazil', 'Copacabana', None, -22.98107, -43.19136, 'Entire loft', 'Entire home/apt', 2, None, '1.5 baths', None, 1.0, '$373.00', 3, 15, 1, 6, 7, 15, 3.1, 14.7, None, 't', 4, 9, 12, 62, '2023-12-27', 454, 36, 2, '2010-10-03', '2023-12-17', 4.9, 4.93, 4.93, 4.97, 4.95, 4.94, 4.89, None, 'f', 1, 1, 0, 0, 2.82)]

In [24]:
%%sql
ALTER TABLE Listings_1NF RENAME TO Listings_2NF;

 * postgresql://postgres:***@localhost/airbnb2
Done.

[]

### 2NF da Calendar (já está em 2NF)

In [73]:
%%sql
SELECT * FROM Calendar_1NF LIMIT 4

 * postgresql://postgres:***@localhost/airbnb2
(psycopg2.errors.UndefinedTable) relation "calendar_1nf" does not exist
LINE 1: SELECT * FROM Calendar_1NF LIMIT 4
                      ^

[SQL: SELECT * FROM Calendar_1NF LIMIT 4]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [74]:
%%sql

ALTER TABLE Calendar_1NF RENAME TO Calendar_2NF;

 * postgresql://postgres:***@localhost/airbnb2
(psycopg2.errors.UndefinedTable) relation "calendar_1nf" does not exist

[SQL: ALTER TABLE Calendar_1NF RENAME TO Calendar_2NF;]
(Background on this error at: https://sqlalche.me/e/20/f405)

### 2NF da Reviews (já está em 2NF)

In [75]:
%%sql
SELECT * FROM Reviews_1NF LIMIT 4

 * postgresql://postgres:***@localhost/airbnb2
(psycopg2.errors.UndefinedTable) relation "reviews_1nf" does not exist
LINE 1: SELECT * FROM Reviews_1NF LIMIT 4
                      ^

[SQL: SELECT * FROM Reviews_1NF LIMIT 4]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [76]:
%%sql
ALTER TABLE Reviews_1NF RENAME TO Reviews_2NF;

 * postgresql://postgres:***@localhost/airbnb2
(psycopg2.errors.UndefinedTable) relation "reviews_1nf" does not exist

[SQL: ALTER TABLE Reviews_1NF RENAME TO Reviews_2NF;]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 3NF das tabelas

### 3NF Listings

In [26]:
%%sql
SELECT * FROM Listings_2NF
 LIMIT 3

 * postgresql://postgres:***@localhost/airbnb2
3 rows affected.

[(17878, 'https://www.airbnb.com/rooms/17878', 20231226034138, '2023-12-27', 'city scrape', 'Condo in Rio de Janeiro', 4.7, 2, 2, 1.0, None, 'This is the one of the bests spots in Rio. Because of the large balcony and proximity to the beach, it has huge advantages in the current situation.', 'https://a0.muscache.com/pictures/65320518/30698f38_original.jpg', 68997, 'https://www.airbnb.com/users/show/68997', 'Matthias', '2010-01-08', 'Rio de Janeiro, Brazil', 'I  am a  journalist/writer. Lived  in NYC for 15 years. I  am now based in Rio and published 3 volumes of travel stories on AMAZ0N: "The World Is My  ... (23 characters truncated) ... ver been to Rio, check out the first story, and you\'ll get an idea. Apart from Rio, you\'ll find  29 other travel stories from all around the globe.', 'within an hour', '100%', '96%', 't', 'https://a0.muscache.com/im/pictures/user/67b13cea-8c11-49c0-a08d-7f42c330676e.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/pictures/user/67b13cea-8c11-49c0-a08d-7f42c330676e.jpg?aki_policy=profile_x_medium', 'Copacabana', 2.0, 5.0, "['email', 'phone']", 't', 't', 'Rio de Janeiro, Brazil', 'Copacabana', None, -22.96599, -43.1794, 'Entire condo', 'Entire home/apt', 5, None, '1 bath', None, 2.0, '$1,357.00', 5, 28, 5, 5, 28, 28, 5.0, 28.0, None, 't', 5, 7, 14, 269, '2023-12-27', 311, 29, 4, '2010-07-15', '2023-12-22', 4.7, 4.77, 4.65, 4.83, 4.91, 4.77, 4.67, None, 'f', 1, 1, 0, 0, 1.9),
 (25026, 'https://www.airbnb.com/rooms/25026', 20231226034138, '2023-12-27', 'city scrape', 'Rental unit in Rio de Janeiro', 4.72, 1, 1, 1.0, None, "Copacabana is a lively neighborhood and the apartment is located very close to an area in Copa full of bars, cafes and restaurants at Rua Bolivar and Domingos Ferreira. Copacabana never sleeps, there is always movement and it's a great mix of all kinds of people.", 'https://a0.muscache.com/pictures/a745aa21-b8dd-4959-a040-eb8e6e6f07ee.jpg', 102840, 'https://www.airbnb.com/users/show/102840', 'Viviane', '2010-04-03', 'Rio de Janeiro, Brazil', 'Hi guys,\n\nViviane is a commercial photographer, an avid world traveler,  (a former photographer for Airbnb) and an Airbnb superhost. And a free lan ... (83 characters truncated) ... We  work together in providing the best accommodation to people and we are\nfirm believers of enjoying the moment as a prime attitude towards life!\n', 'within an hour', '100%', '80%', 't', 'https://a0.muscache.com/im/pictures/user/315ddc81-bea3-4bf0-8fc7-be197a6541ff.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/pictures/user/315ddc81-bea3-4bf0-8fc7-be197a6541ff.jpg?aki_policy=profile_x_medium', 'Copacabana', 1.0, 5.0, "['email', 'phone']", 't', 't', 'Rio de Janeiro, Brazil', 'Copacabana', None, -22.97735, -43.19105, 'Entire rental unit', 'Entire home/apt', 3, None, '1 bath', None, 1.0, '$865.00', 2, 60, 2, 4, 60, 60, 2.2, 60.0, None, 't', 3, 18, 48, 228, '2023-12-27', 275, 29, 2, '2010-06-07', '2023-12-03', 4.72, 4.7, 4.79, 4.81, 4.92, 4.84, 4.6, None, 'f', 1, 1, 0, 0, 1.67),
 (35764, 'https://www.airbnb.com/rooms/35764', 20231226034138, '2023-12-27', 'city scrape', 'Loft in Rio de Janeiro', 4.9, 1, 1, 1.5, None, 'Our guests will experience living with a local peole "Carioca"  in a very friendly building with 24 hours a day security with all kind of stores, banks, transports, restaurants.', 'https://a0.muscache.com/pictures/23782972/1d3e55b0_original.jpg', 153691, 'https://www.airbnb.com/users/show/153691', 'Patricia Miranda & Paulo', '2010-06-27', 'Rio de Janeiro, Brazil', 'Hello,   We are Patricia Miranda and Paulo.\nWe are a couple who love to meet new people, new cultures, we both are  very easy going persons,  We are ... (89 characters truncated) ...   We also used do host in our  own residence International students from all over the world.  We are gay friendly and everybody is welcome! \n\n\n\n!', 'within an hour', '100%', '98%', 't', 'https://a0.muscache.com/im/users/153691/profile_pic/1277774787/original.jpg?aki_policy=profile_small', 'https://a0.muscache.com/im/users/153691/profile_pic/1277774787/original.jpg?aki_policy=profile_x_medium', 'Copacabana', 1.0, 2.0, "['email', 'phone']", 't', 't', 'Rio de Janeiro, Brazil', 'Copacabana', None, -22.98107, -43.19136, 'Entire loft', 'Entire home/apt', 2, None, '1.5 baths', None, 1.0, '$373.00', 3, 15, 1, 6, 7, 15, 3.1, 14.7, None, 't', 4, 9, 12, 62, '2023-12-27', 454, 36, 2, '2010-10-03', '2023-12-17', 4.9, 4.93, 4.93, 4.97, 4.95, 4.94, 4.89, None, 'f', 1, 1, 0, 0, 2.82)]

In [129]:
%%sql
DROP VIEW IF EXISTS Host_3NF CASCADE;
CREATE VIEW Host_3NF AS
    SELECT DISTINCT host_id, host_url, host_name, host_since, host_location, host_about, host_response_time,
        host_response_rate, host_acceptance_rate, host_is_superhost, host_thumbnail_url, host_picture_url,
        host_neighbourhood, host_listings_count, host_total_listings_count, host_has_profile_pic,
        host_identity_verified, calculated_host_listings_count, calculated_host_listings_count_entire_homes, 
        calculated_host_listings_count_private_rooms, calculated_host_listings_count_shared_rooms
        
    FROM Listings_2NF;

DROP VIEW IF EXISTS Listings_3NF CASCADE;
CREATE VIEW Listings_3NF AS
    SELECT DISTINCT listing_id, listing_url, scrape_id, last_scraped, source, nome, avaliacao, nquartos, ncamas, nbanheiros, description,
        neighborhood_overview, picture_url, host_id, neighbourhood, neighbourhood_cleansed, neighbourhood_group_cleansed, latitude, longitude, property_type, room_type, accommodates, bathrooms,
        bathrooms_text, bedrooms, beds, price, minimum_nights, maximum_nights, minimum_minimum_nights, 
        maximum_minimum_nights, minimum_maximum_nights, maximum_maximum_nights, minimum_nights_avg_ntm, 
        maximum_nights_avg_ntm, calendar_updated, has_availability, availability_30, availability_60, availability_90, 
        availability_365, calendar_last_scraped, number_of_reviews, number_of_reviews_ltm, number_of_reviews_l30d, 
        first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, 
        review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, license,instant_bookable,
        reviews_per_month
    FROM Listings_2NF;

 * postgresql://postgres:***@localhost/airbnb2
Done.
Done.
Done.
Done.

[]

### 3NF Calendar

In [8]:
%%sql
SELECT * FROM Calendar_2NF LIMIT 3

 * postgresql://postgres:***@localhost/airbnb2
(psycopg2.errors.UndefinedTable) relation "calendar_2nf" does not exist
LINE 1: SELECT * FROM Calendar_2NF LIMIT 3
                      ^

[SQL: SELECT * FROM Calendar_2NF LIMIT 3]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [9]:
%%sql
ALTER TABLE Calendar_2NF RENAME TO Calendar_3NF;

 * postgresql://postgres:***@localhost/airbnb2
(psycopg2.errors.UndefinedTable) relation "calendar_2nf" does not exist

[SQL: ALTER TABLE Calendar_2NF RENAME TO Calendar_3NF;]
(Background on this error at: https://sqlalche.me/e/20/f405)

### 3NF Reviews

In [10]:
%%sql 
SELECT * FROM Reviews_2NF LIMIT 3

 * postgresql://postgres:***@localhost/airbnb2
3 rows affected.

[(Decimal('17878'), Decimal('64852'), datetime.date(2010, 7, 15), Decimal('135370'), 'Tia', 'This apartment is in a perfect location -- two blocks from the beach and two blocks from the Copacabana Palace (where anyone famous stays when they a ... (99 characters truncated) ... e apartment is like, so you´ll have no surprises.  Max is very communicative and helpful.  The four of us that stayed here would highly recommend it.'),
 (Decimal('216700'), Decimal('1511171'), datetime.date(2012, 6, 18), Decimal('2598011'), 'Evelyn', 'A estada foi maravilhosa, ficamos so 3 noites se pudessemos ficariamos mais... mas com certeza voltaremos...o lugar eh maravilhoso, quando chegamos f ... (572 characters truncated) ...  sem duvida recomendamos a hospedagem... Saimos bem contentes e satisfeitos do rio e ja estamos planejando a volta....  Nao percam a oportunidade!!! '),
 (Decimal('216700'), Decimal('1550596'), datetime.date(2012, 6, 24), Decimal('2465739'), 'Camila', "The apartment is located in the beautiful Laranjeiras neighborhood,  everything there is easy access. There' re bakeries, markets, banks, restaurants ... (862 characters truncated) ... me e bem comfortavel com uma linda sacada. \r<br/>\r<br/>Foi uma pena passarmos somente um dia na casa de Moara. Com certeza, voltaremos na sua casa.")]

In [11]:
%%sql

DROP TABLE IF EXISTS Reviews_3NF CASCADE;
CREATE TABLE Reviews_3NF AS
    SELECT listing_id, id_review, date, reviewer_id, comments
    FROM Reviews_2NF;
    
DROP TABLE IF EXISTS Reviewers_3NF CASCADE;
CREATE TABLE Reviewers_3NF AS
    SELECT reviewer_id, reviewer_name
    FROM Reviews_2NF

 * postgresql://postgres:***@localhost/airbnb2
(psycopg2.errors.WrongObjectType) "reviews_3nf" is not a table
HINT:  Use DROP VIEW to remove a view.

[SQL: DROP TABLE IF EXISTS Reviews_3NF CASCADE;]
(Background on this error at: https://sqlalche.me/e/20/f405)

## BCNF das tabelas
Todas as tabelas já estão em BCNF, mas vou transformar elas em TABLES para ficar mais fácil. Isso inclui transformar o price do Calendar em float

In [131]:
%%sql
DROP TABLE IF EXISTS Listings_final CASCADE;
CREATE TABLE Listings_final (
  listing_id BIGINT PRIMARY KEY, 
  listing_url TEXT, 
  scrape_id BIGINT,
  last_scraped DATE,
  source TEXT, 
  nome TEXT, 
  avaliacao SMALLINT, 
  nquartos SMALLINT, 
  ncamas FLOAT, 
  nbanheiros FLOAT, 
  description TEXT, 
  neighborhood_overview TEXT, 
  picture_url TEXT, 
  host_id INTEGER,
  neighbourhood TEXT, 
  neighbourhood_cleansed TEXT, 
  neighbourhood_group_cleansed TEXT, 
  latitude NUMERIC, 
  longitude NUMERIC, 
  property_type TEXT, 
  room_type TEXT, 
  accommodates INTEGER, 
  bathrooms FLOAT, 
  bathrooms_text TEXT, 
  bedrooms SMALLINT, 
  beds SMALLINT,  
  price TEXT, 
  minimum_nights INTEGER,  
  maximum_nights INTEGER, 
  minimum_minimum_nights INTEGER, 
  maximum_minimum_nights INTEGER, 
  minimum_maximum_nights INTEGER, 
  maximum_maximum_nights INTEGER, 
  minimum_nights_avg_ntm NUMERIC, 
  maximum_nights_avg_ntm NUMERIC, 
  has_availability CHAR, 
  availability_30 INTEGER, 
  availability_60 INTEGER, 
  availability_90 INTEGER, 
  availability_365 INTEGER, 
  number_of_reviews INTEGER, 
  number_of_reviews_ltm INTEGER, 
  number_of_reviews_l30d INTEGER,  
  first_review DATE, 
  last_review DATE, 
  review_scores_rating NUMERIC, 
  review_scores_accuracy NUMERIC, 
  review_scores_cleanliness NUMERIC, 
  review_scores_checkin NUMERIC, 
  review_scores_communication NUMERIC, 
  review_scores_location NUMERIC, 
  review_scores_value NUMERIC, 
  license TEXT, 
  instant_bookable CHAR, 
  reviews_per_month NUMERIC
);

INSERT INTO Listings_final
SELECT 
  listing_id, 
  listing_url, 
  scrape_id,
  last_scraped::DATE,
  source, 
  nome, 
  avaliacao, 
  nquartos, 
  ncamas, 
  nbanheiros, 
  description, 
  neighborhood_overview, 
  picture_url, 
  host_id,
  neighbourhood, 
  neighbourhood_cleansed, 
  neighbourhood_group_cleansed, 
  latitude, 
  longitude, 
  property_type, 
  room_type, 
  accommodates, 
  bathrooms, 
  bathrooms_text, 
  bedrooms, 
  beds, 
  price, 
  minimum_nights, 
  maximum_nights, 
  minimum_minimum_nights, 
  maximum_minimum_nights, 
  minimum_maximum_nights, 
  maximum_maximum_nights, 
  minimum_nights_avg_ntm, 
  maximum_nights_avg_ntm,
  has_availability, 
  availability_30, 
  availability_60, 
  availability_90, 
  availability_365::INTEGER,
  number_of_reviews, 
  number_of_reviews_ltm, 
  number_of_reviews_l30d::INTEGER, 
  first_review::DATE, 
  last_review::DATE, 
  review_scores_rating, 
  review_scores_accuracy, 
  review_scores_cleanliness, 
  review_scores_checkin, 
  review_scores_communication, 
  review_scores_location, 
  review_scores_value, 
  license, 
  instant_bookable, 
  reviews_per_month
FROM Listings_3NF;

 * postgresql://postgres:***@localhost/airbnb2
Done.
Done.
36008 rows affected.

[]

In [132]:
%%sql
DROP TABLE IF EXISTS Host_final CASCADE;
CREATE TABLE Host_final (
  host_id BIGINT PRIMARY KEY,  
  host_url TEXT, 
  host_name VARCHAR(255), 
  host_since DATE, 
  host_location TEXT, 
  host_about TEXT, 
  host_response_time TEXT, 
  host_response_rate FLOAT, 
  host_acceptance_rate FLOAT, 
  host_is_superhost BOOLEAN, 
  host_thumbnail_url TEXT, 
  host_picture_url TEXT, 
  host_neighbourhood TEXT, 
  host_listings_count INTEGER, 
  host_total_listings_count BIGINT, 
  host_has_profile_pic BOOLEAN, 
  host_identity_verified BOOLEAN, 
  calculated_host_listings_count BIGINT, 
  calculated_host_listings_count_entire_homes BIGINT, 
  calculated_host_listings_count_private_rooms BIGINT, 
  calculated_host_listings_count_shared_rooms BIGINT
);

INSERT INTO Host_final
SELECT 
  host_id, 
  host_url, 
  host_name, 
  host_since::DATE, 
  host_location, 
  host_about, 
  host_response_time::TEXT, 
  REPLACE(host_response_rate,'%','')::FLOAT /100.0, 
  REPLACE(host_acceptance_rate,'%','')::FLOAT /100.0, 
  host_is_superhost::BOOLEAN, 
  host_thumbnail_url, 
  host_picture_url, 
  host_neighbourhood, 
  host_listings_count, 
  host_total_listings_count, 
  host_has_profile_pic::BOOLEAN, 
  host_identity_verified::BOOLEAN, 
  calculated_host_listings_count, 
  calculated_host_listings_count_entire_homes, 
  calculated_host_listings_count_private_rooms, 
  calculated_host_listings_count_shared_rooms
FROM Host_3NF;

 * postgresql://postgres:***@localhost/airbnb2
Done.
Done.
21980 rows affected.

[]

In [145]:
%%sql
DROP TABLE IF EXISTS Calendar_final CASCADE;
CREATE TABLE Calendar_final (
    calendar_id BIGINT PRIMARY KEY,
    listing_id BIGINT,
    date DATE,
    available CHAR,
    price FLOAT,
    adjusted_price FLOAT,
    minimum_nights FLOAT,
    maximum_nights FLOAT
);

INSERT INTO Calendar_final
SELECT 
    calendar_id,
    listing_id,
    date,
    available,
    CAST(NULLIF(REGEXP_REPLACE(price,'[^0-9.]','','g'),'') AS FLOAT),
    CAST(NULLIF(REGEXP_REPLACE(adjusted_price,'[^0-9.]','','g'),'') AS FLOAT),
    minimum_nights,
    maximum_nights
FROM Calendar_3NF;

 * postgresql://postgres:***@localhost/airbnb2
Done.
Done.
13145595 rows affected.

[]

In [146]:
%%sql
DROP TABLE IF EXISTS Reviews_final CASCADE;
CREATE TABLE Reviews_final (
    id_review BIGINT PRIMARY KEY,
    listing_id BIGINT,
    date DATE,
    reviewer_id BIGINT,
    comments TEXT
);

INSERT INTO Reviews_final
SELECT 
    id_review,
    listing_id,
    date,
    reviewer_id,
    comments 
FROM Reviews_3NF;

 * postgresql://postgres:***@localhost/airbnb2
Done.
Done.
703796 rows affected.

[]

In [142]:
%%sql
DROP TABLE IF EXISTS Reviewers_final CASCADE;
CREATE TABLE Reviewers_final (
    reviewer_id BIGINT PRIMARY KEY,
    reviewer_name TEXT
);

INSERT INTO Reviewers_final (reviewer_id, reviewer_name)
    SELECT reviewer_id, MIN(reviewer_name) as reviewer_name
    FROM Reviewers_3NF
    GROUP BY reviewer_id;

 * postgresql://postgres:***@localhost/airbnb2
Done.
Done.
563587 rows affected.

[]

In [134]:
%%sql
ALTER TABLE Listings_final
    ADD CONSTRAINT fk_host
    FOREIGN KEY (host_id ) REFERENCES Host_final (host_id);

 * postgresql://postgres:***@localhost/airbnb2
(psycopg2.errors.DuplicateObject) constraint "fk_host" for relation "listings_final" already exists

[SQL: ALTER TABLE Listings_final
    ADD CONSTRAINT fk_host
    FOREIGN KEY (host_id ) REFERENCES Host_final (host_id);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [147]:
%%sql
ALTER TABLE Reviews_Final
    ADD CONSTRAINT fk_reviewers
    FOREIGN KEY (reviewer_id) REFERENCES Reviewers_Final (reviewer_id);

 * postgresql://postgres:***@localhost/airbnb2
Done.

[]

In [148]:
%%sql
ALTER TABLE Calendar_final
    ADD CONSTRAINT fk_listing
    FOREIGN KEY (listing_id ) REFERENCES Listings_final (listing_id)

 * postgresql://postgres:***@localhost/airbnb2
Done.

[]

In [149]:
%%sql
ALTER TABLE Reviews_final
    ADD CONSTRAINT fk_listing
    FOREIGN KEY (listing_id ) REFERENCES Listings_final (listing_id)

 * postgresql://postgres:***@localhost/airbnb2
Done.

[]