### Conexão com a base de dados

In [1]:
############## Importar os módulos necessários para o Notebook:
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

############## Conectar com um servidor SQL na base Alunos 15 ###################### -- Postgres.Alunos15
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost/airbnb2')
%sql postgresql://postgres:pgadmin@localhost/airbnb2

### Populando nosso mapeamento de acordo com a base de dados

tabelas (finais) que temos disponíveis:  
    - listings: guarda atributos relativos a propriedade (conexão com host)  
    - host: guarda atributos dos donos de propriedades  
    - calendar: guarda dados da propriedade em determinado dia do ano (conexão com listings)  
    - reviews: guarda comentários sobre pessoas em determinadas propriedades em algum momento (conexão com listingse e reviewers)  
    - reviewers: guarda o nome das pessoas que fizeram comentários  

Temos acesso a:  
    - Localização:  
        - País = normalmente Brasil  
        - Estado = normalmente Rio de Janeiro  
        - Cidade = normalmente Rio de Janeiro  
        - Bairro = Listings neighbourhood_cleansed  
    
    - Usuário:
        - nome = host host_name
        - sobrenome = Null
        - numTel=null
        - email=null
        - endereço = null
        - datanascimento = null
        - sexo = null
        - senha = null
        - Idlocalizacao = host host_location
            ** usuários reviewers só possuem o nome, mais nada
    
    - Propriedade:
        - Nome = listing nome **não pode ser chave primária
        - Endereco = null
        - Classe = listing property_type        
        - NumBanheiros = listing nbanheiros       
        - MaxHospedes = null
        - MinNoites = listing minimum_nights  
        - MaxNoites = listing maximum_nights
        - PrecoDiaria = Depende da Calendar creio eu
        - TaxaLimpeza = null
        - HorarioCheckIn = null
        - HorarioCheckOut = null  
        - Regras = null
        - Comodidades = null
        - IdLocalizacao = vai ser criado pra mostrar a localização da propriedade (possível de ser criada totalmente) 
        - NomeAnfitriao = possível de se pegar usando a tabela host
        - SobrenomeAnfitriao = possível de se pegar usando a tabela host
        - NumTelAnfitriao = null
    
    - Mensagem:
        - IdMensagem         = ok, dá pra criar de boas
        - Timestamp          = null (dá pra fazer uma adaptação com o reviews date)
        - Texto              = reviews comments
        - NomeEmissor        = dá pra pegar pela tabela host
        - SobrenomeEmissor   = dá pra pegar pela tabela host
        - NumTelEmissor      = dá pra pegar pela tabela host
        - NomeReceptor       = dá pra pegar pela tabela host
        - SobrenomeReceptor  = dá pra pegar pela tabela host
        - NumTelReceptor     = dá pra pegar pela tabela host
    
    - Avaliacao:
        - IdAvaliacao              = ok, dá pra criar de boas
        - ClassificacaoLimpeza     = null
        - NotaComunicacao          = null
        - NotaLocalizacao          = null
        - NotaValorLocacao         = null
        - IdMensagem               = dá pra criar
    
    - Foto:
        - Path                     = null
        - IdAvaliacao              = ok, dá pra criar de boas
    
    - Quarto:
        - IdQuarto               = ok, dá pra criar de boas
        - TipoCama               = (dá pra criar mas é gambiarra demais)
        - NumCamas               = não faz sentido usar a da listings nome
        - NomePropriedade        = listings nome
        - EnderecoPropriedade    = null
    
    - ContaBancaria:
        - Numero               = null
        - Tipo                 = null
        - NumRoteamento        = null
        - NomeUsuario          = null
        - SobrenomeUsuario     = até pra tentar criar
        - NumTelUsuario        = null
    
    - Locacao: 
        - IdLocacao                   = null
        - NumHospedes                 = null
        - Imposto                     = null
        - PrecoTotal                  = null
        - TaxaLimpeza                 = null
        - CodPromocional              = null
        - ValDesconto                 = null
        - PrecoTotalComImpostos       = null
        - CheckIn                     = null
        - CheckOut                    = null
        - DataReserva                 = null
        - Confirmada                  = null
    
    - PontoInteresse:
        - IdPontoInteresse        = dá pra criar
        - Nome                    = null
        - IdLocalizacao           = dá pra criar
    
    - Locar:
        - NomePropriedade           = até dá pra usar com a listings
        - EnderecoPropriedade       = null
        - NomeLocatario             = até dá pra usar com a host
        - SobrenomeLocatario        = null
        - NumTelLocatario           = null
        - IdLocacao                 = até dá pra criar
    
    - Avalia:
        - IdAvaliacao               = de boas de criar
        - NomePropriedade           = até dá pra usar com a listings
        - EnderecoPropriedade       = null
        - NomeLocatario             = até dá pra usar com a reviewers
        - SobrenomeLocatario        = null
        - NumTelLocatario           = null
    
    - AnuncioLocacao:
        - IdAnuncio                       = dá pra criar de boas
        - DataInicioDispo                 = teria que ajustar pra funcionar com o calendar (por dia no ano)
        - DataFimDispo                    = teria que ajustar pra funcionar com o calendar (por dia no ano)
        - NomeAnunciante                  = dá pra pegar pelo host
        - SobrenomeAnunciante             = null
        - NumTelAnunciante                = null
        - NomePropriedade                 = até dá pra tentar pegar pela listings
        - EnderecoPropriedade             = null
    
Solução: alterar nosso mapeamento pra ele funcionar de acordo com ids, já que além de não termos acesso a número de telefone e sobrenome dos usuários, endereço de propriedade etc.

    Tabelas descartadas: avaliacao, foto, quarto, contabancaria, locacao, locar, avalia, pontointeresse
    Tabelas restantes atualizadas:
   - Localização:
     - id_localizacao (PK)
     - País = normalmente Brasil
     - Estado = normalmente Rio de Janeiro
     - Cidade = normalmente Rio de Janeiro
     - Bairro = Listings neighbourhood_cleansed
  
   - Usuário:
	 - host_id (PK)
     - nome = host host_name
     - Idlocalizacao = host host_location ou null
	 - isLocadorSN
  
   - Propriedade:
	 - listing_id (PK)
     - Nome = listing nome
     - Classe = listing property_type   
     - NumQuartos = listing nquartos
     - NumCamas = listing ncamas    
     - NumBanheiros = listing nbanheiros
     - MinNoites = listing minimum_nights 
     - MaxNoites = listing maximum_nights
     - IdLocalizacao (FK pra Localizacao)
     - host_id (FK pra host)
   
   - Mensagem (adaptada pra funcionar como review, não entre usuários):
     - IdMensagem (PK)
     - DataMensagem       = reviews date 
     - Texto              = reviews comments
     - reviewer_id (2K,FK pra host)
	 - listing_id (2K,FK pra listings)
      
   - Diárias (adaptada pra conseguir consultar a diária de uma propriedade)
	 - diaria_id (PK)
	 - listing_id (2K,FK pra listings)
	 - Data (2K)
	 - valor

In [25]:
%%sql

DROP TABLE IF EXISTS Localizacao_new CASCADE;
CREATE TABLE Localizacao_new (
    localizacao_id                  BIGSERIAL PRIMARY KEY,
    Pais                            VARCHAR(100) NOT NULL,
    Estado                          VARCHAR(100),
    Cidade                          VARCHAR(100) NOT NULL,
    Bairro                          VARCHAR(255)
);

DROP TABLE IF EXISTS Usuario_new CASCADE;
CREATE TABLE Usuario_new(
    usuario_id                      BIGINT,
    nome                            VARCHAR(255),
    localizacao_id                  BIGINT,
    locatarioSN                     BOOLEAN,
    PRIMARY KEY (usuario_id),
    FOREIGN KEY (localizacao_id) REFERENCES Localizacao_new(localizacao_id)
);

DROP TABLE IF EXISTS Propriedade_new CASCADE;
CREATE TABLE Propriedade_new (
    propriedade_id BIGINT           PRIMARY KEY,
    nome                        VARCHAR(255) NOT NULL,
    classe                      VARCHAR(255),
    numQuartos                  INTEGER,
    numCamas                    INTEGER,
    numBanheiros                FLOAT,
    maxHospedes                 INTEGER,
    minNoites                   INTEGER,
    maxNoites                   INTEGER,
    localizacao_id              BIGINT,
    locador_id                  BIGINT,
    FOREIGN KEY (localizacao_id) REFERENCES Localizacao_new(localizacao_id),
    FOREIGN KEY (locador_id) REFERENCES Usuario_new(usuario_id)
);

DROP TABLE IF EXISTS Mensagem_new CASCADE;
CREATE TABLE Mensagem_new(
    mensagem_id                   BIGSERIAL,
    dataMensagem                  DATE NOT NULL,
    texto                         TEXT NOT NULL,
    locatario_id                  BIGINT NOT NULL,
    propriedade_id                    BIGINT NOT NULL,
    
    PRIMARY KEY (mensagem_id),
    FOREIGN KEY (locatario_id) REFERENCES Usuario_new(usuario_id),
    FOREIGN KEY (propriedade_id) REFERENCES Propriedade_new(propriedade_id)
);

DROP TABLE IF EXISTS Diarias_new CASCADE;
CREATE TABLE Diarias_new(
    diaria_id                       BIGSERIAL,
    propriedade_id                      BIGINT,
    data                            DATE,
    valor                           FLOAT,
    PRIMARY KEY (diaria_id),
    UNIQUE (propriedade_id,data),
    FOREIGN KEY (propriedade_id) REFERENCES Propriedade_new(propriedade_id)
);

 * postgresql://postgres:***@localhost/airbnb2
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

tabelas (finais) que temos disponíveis:  
    - listings: guarda atributos relativos a propriedade (conexão com host)  
    - host: guarda atributos dos donos de propriedades  
    - calendar: guarda dados da propriedade em determinado dia do ano (conexão com listings)  
    - reviews: guarda comentários sobre pessoas em determinadas propriedades em algum momento (conexão com listingse e reviewers)  
    - reviewers: guarda o nome das pessoas que fizeram comentários  
    
Pela dependencia das FKs, precisamos seguir com Localização, Usuário, Propriedade, Mensagem, Diarias

In [26]:
%%sql
-- função pra sempre que precisar adicionar uma localização, ele adiciona e já retorna o id dela pra usar como fk
CREATE OR REPLACE FUNCTION add_localizacao(
    Pais                            VARCHAR(100),
    Estado                          VARCHAR(100),
    Cidade                          VARCHAR(100),
    Bairro                          VARCHAR(255)
)
    RETURNS BIGINT AS $$
        DECLARE
            new_id BIGINT;
        BEGIN
            INSERT INTO Localizacao_new (Pais,Estado,Cidade,Bairro)
                VALUES (Pais,Estado,Cidade,Bairro)
            RETURNING localizacao_id INTO new_id;
            
            RETURN new_id;
        END;
    $$ LANGUAGE plpgsql;

 * postgresql://postgres:***@localhost/airbnb2
Done.

[]

#### Colocando Usuários e Localizações de usuários

In [27]:
%%sql
INSERT 
    INTO Usuario_new (usuario_id,nome,localizacao_id,locatarioSN)
    SELECT 
        host_id,
        host_name,
        add_localizacao(
            COALESCE(SPLIT_PART(host_location,', ',2),''), 
            '',                             
            COALESCE(SPLIT_PART(host_location,', ',1),''),
            ''                              
        ),
        True 
    FROM Host_final;

 * postgresql://postgres:***@localhost/airbnb2
21980 rows affected.

[]

In [28]:
%sql SELECT * FROM Usuario_new LIMIT 3

 * postgresql://postgres:***@localhost/airbnb2
3 rows affected.

[(1671, 'Adam', 1, True), (3607, 'Ana', 2, True), (11739, 'Eric', 3, True)]

In [29]:
%sql SELECT * FROM Localizacao_new LIMIT 3

 * postgresql://postgres:***@localhost/airbnb2
3 rows affected.

[(1, 'Canada', '', 'Montreal', ''),
 (2, 'France', '', 'Paris', ''),
 (3, 'Brazil', '', 'Rio de Janeiro', '')]

#### Inserindo propriedades e suas localizações

In [30]:
%%sql
INSERT
    INTO Propriedade_new (
        propriedade_id,
        nome,
        classe,
        numQuartos,
        numCamas,
        numBanheiros,
        maxHospedes,
        minNoites,
        maxNoites,
        localizacao_id,
        locador_id
    )
    SELECT
        listing_id,
        nome,
        property_type,
        nquartos,
        ncamas,
        nbanheiros,
        accommodates,
        minimum_nights,
        maximum_nights,
        add_localizacao(
            'Brazil',
            'Rio de Janeiro',                             
            'Rio de Janeiro',
            COALESCE(neighbourhood_cleansed,'')
        ),
        host_id
        FROM Listings_final;

 * postgresql://postgres:***@localhost/airbnb2
36008 rows affected.

[]

In [34]:
%sql SELECT * FROM Propriedade_new LIMIT 6

 * postgresql://postgres:***@localhost/airbnb2
6 rows affected.

[(17878, 'Condo in Rio de Janeiro', 'Entire condo', 2, 2, 1.0, 5, 5, 28, 21981, 68997),
 (25026, 'Rental unit in Rio de Janeiro', 'Entire rental unit', 1, 1, 1.0, 3, 2, 60, 21982, 102840),
 (35764, 'Loft in Rio de Janeiro', 'Entire loft', 1, 1, 1.5, 2, 3, 15, 21983, 153691),
 (41198, 'Rental unit in Rio de Janeiro', 'Entire rental unit', 2, 0, 1.0, 5, 3, 365, 21984, 178975),
 (48305, 'Rental unit in Ipanema', 'Entire rental unit', 6, 7, 7.0, 13, 2, 89, 21985, 70933),
 (48901, 'Rental unit in Rio', 'Entire rental unit', 4, 5, 3.0, 9, 3, 750, 21986, 222884)]

In [33]:
%%sql 
SELECT * FROM Localizacao_new
    WHERE Localizacao_new.localizacao_id IN (
        SELECT localizacao_id FROM Propriedade_new LIMIT 6
    )

 * postgresql://postgres:***@localhost/airbnb2
6 rows affected.

[(21981, 'Brazil', 'Rio de Janeiro', 'Rio de Janeiro', 'Copacabana'),
 (21982, 'Brazil', 'Rio de Janeiro', 'Rio de Janeiro', 'Copacabana'),
 (21984, 'Brazil', 'Rio de Janeiro', 'Rio de Janeiro', 'Copacabana'),
 (21983, 'Brazil', 'Rio de Janeiro', 'Rio de Janeiro', 'Copacabana'),
 (21985, 'Brazil', 'Rio de Janeiro', 'Rio de Janeiro', 'Ipanema'),
 (21986, 'Brazil', 'Rio de Janeiro', 'Rio de Janeiro', 'Copacabana')]

In [35]:
%%sql
SELECT listing_id,neighbourhood,neighbourhood_cleansed FROM Listings_final LIMIT 6

 * postgresql://postgres:***@localhost/airbnb2
6 rows affected.

[(17878, 'Rio de Janeiro, Brazil', 'Copacabana'),
 (25026, 'Rio de Janeiro, Brazil', 'Copacabana'),
 (35764, 'Rio de Janeiro, Brazil', 'Copacabana'),
 (41198, None, 'Copacabana'),
 (48305, 'Ipanema, Rio de Janeiro, Brazil', 'Ipanema'),
 (48901, 'Rio, Rio de Janeiro, Brazil', 'Copacabana')]